.container {
    display: flex;
    justify-content: space-around; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren (optional) */
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;



    .userlocation-card {
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: center;

        margin-top: 7px;
        margin-bottom: 7px;
        /*justify-content: center;*/
        justify-content: space-between;


        border-radius: 25px;
        background-color: white;
        color: #213547;
        width: 95vw; /*width of each card*/
    }

}

.userlocation-card:hover {
    transform: scale(1.1);
    border: 2px solid white;
    filter: drop-shadow(0 0 1em #757574);
    cursor: pointer;
}

#spread-map {
    height: 110px;
    width: 218px;
    border-radius: 10px;
    background-color: white;
    margin-left: 1px;
    margin-right: 15px;
}

.userlocation-properties-div {

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 86%;
}

.userlocation-attribute-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attribute-label {
    font-weight: bold;
}

.attribute-value {
    align-self: end;
}