
.returnContainer {
  justify-content: space-between;
}

.introductionBox {
  margin: 20px;
  padding: 15px;
}

.imageDiv {
  display: flex;
  justify-content: center;
}

#location-pin {
  margin: 5px;
  z-index: 5;
  width: auto;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  left: 400px;
}
#cyclist-gif {
  margin: -10px;
  padding: 10px;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 250px;
}




