.app-container {
  justify-content: space-between;
  /*ab hier eingefügt*/
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mindesthöhe des Viewports */
}

.app-content {
  flex-grow: 1;
}

.introductionBox {
  margin: 20px;
  padding: 15px;
}

.imageDiv {
  display: flex;
  justify-content: center;
}

#cyclist-gif {
  margin: -10px;
  padding: 10px;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 250px;
}

.footer-component {
  text-align: center;
}
