* {
  margin: 0;
  padding: 0;
}
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color: rgba(40, 38, 38, 0.87);
  color-scheme: light dark;

}
body {
  place-items: center;
  align-items: center;
  background-color: #fcecc4;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ändern Sie "center" zu "space-between" */
  align-items: center;

}
.introductionBox {
  margin: 15px;
  padding: 15px;
}
.imageDiv {
  display: flex;
}
#de-map {
  /* Hier können Sie Ihre SVG-styling-Einstellungen hinzufügen */
  margin: 10px;
  padding: 10px;
  align-items: center;
  width: auto; /* Beispielbreite */
  height: auto;
  max-width: 200px;
  max-height: 150px;
}
#cyclist-gif {
  /* Hier können Sie Ihre SVG-styling-Einstellungen hinzufügen */
  margin: 10px;
  padding: 10px;
  align-items: center;
  width: auto; /* Beispielbreite */
  height: auto;
  max-width: 200px;
  max-height: 250px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a4a028;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 8px;
  border: 1px solid;
  border-color: #213547;
  padding: 0.6em 1.2em;
  margin: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e3e2db;
  cursor: pointer;
  transition: border-color 0.25s;
}
